
{% trans_default_domain 'FOSUserBundle' %}
            <script type="text/javascript">
                $(document).ready(function($)
                {
                    // Reveal Login form
                    setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);

                    // Set Form focus
                    $("form#login .form-group:has(.form-control):first .form-control").focus();

                    var opts = {
                        "closeButton": true,
                        "debug": false,
                        "positionClass": "toast-top-full-width",
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
                    {% if form_errors(form.current_password) %}
                    toastr.error("Tu contraseña no coincide", "Cambio fallido!", opts);
                    {% endif %}
                    {% if form_errors(form.plainPassword.first) %}
                    toastr.error("Las nuevas contraseñas no coinciden", "Cambio fallido!", opts);
                    {% endif %}

                });
            </script>
            <!-- Errors container -->
            <div class="errors-container">


            </div>
            <div class="row-centered">
                <div class="col-sm-6 col-centered">
                    <div class="panel panel-default">
                    <form id="login" action="{{ path('fos_user_change_password') }}" method="POST" class="login-form fade-in-effect">

                        {{ form_start(form) }}

                        <div class="form-group">
                            <label class="control-label" for="fos_user_change_password_form_current_password">Contraseña Actual</label>
                            {{ form_widget(form.current_password, {'attr' : { 'class' : 'form-control input-dark' }}) }}
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="fos_user_change_password_form_plainPassword_first">Nueva Contraseña</label>
                            {{ form_widget(form.plainPassword.first, {'attr' : { 'class' : 'form-control input-dark' }}) }}
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="fos_user_change_password_form_plainPassword_second">Confirme Nueva Contraseña</label>
                            {{ form_widget(form.plainPassword.second, {'attr' : { 'class' : 'form-control input-dark' }}) }}
                        </div>

                        <div class="form-group-separator"></div>
                        {{ form_widget(form._token) }}

                        <div class="form-group">
                            <button type="submit" id="_submit" name="_submit" class="btn btn-dark  btn-block text-left">
                                <i class="fa-lock"></i>
                                Cambiar Contraseña
                            </button>
                        </div>
                        <a class="btn btn-warning" href="{{ path('homepage') }}">Cancelar</a>
                        {{ form_end(form) }}
                    </form>
                    </div>
                </div>
            </div>

<!-- Bottom Scripts -->
<script src="{{ asset('bundles/ctcore/assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/ctcore/assets/js/TweenMax.min.js') }}"></script>
<script src="{{ asset('bundles/ctcore/assets/js/resizeable.js') }}"></script>
<script src="{{ asset('bundles/ctcore/assets/js/joinable.js') }}"></script>
<script src="{{ asset('bundles/ctcore/assets/js/xenon-api.js') }}"></script>
<script src="{{ asset('bundles/ctcore/assets/js/xenon-toggles.js') }}"></script>
<!--<script src="{{ asset('bundles/ctcore/assets/js/jquery-validate/jquery.validate.min.js') }}"></script>-->
<script src="{{ asset('bundles/ctcore/assets/js/toastr/toastr.min.js') }}"></script>


<!-- JavaScripts initializations and stuff -->
<script src="{{ asset('bundles/ctcore/assets/js/xenon-custom.js') }}"></script>
