{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creación de Empresa</h1>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="btn btn-success pull-left"/>
    {{ form_end(form) }}

    <a class="btn btn-warning pull-right" href="{{ path('homepage') }}"> Volver</a>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('#appbundle_company_georeferenceId').attr('readonly', 'readonly');
            $('#appbundle_company_department').on('change',function () {
                $.post('{{ path('load_cities') }}',
                    {'dpto':$(this).val()},
                    function (success) {
                        $('#appbundle_company_georeferenceId').html(success).attr('readonly', false);
                    });
            })
        });
    </script>
{% endblock %}