
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sucesos</th>
                <th>Dpto - Ciudad</th>
                <th>Pruebas</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Cliente</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for creditInfo in credits %}
            <tr>
                <td>{% if creditInfo.date %}{{ creditInfo.date|date('Y-m-d') }}{% else %} -- {% endif %} - {{ creditInfo.description }}</td>
                <td>{{ creditInfo.georeferenceId.padreId }} - {{ creditInfo.georeferenceId }}</td>
                <td><ul>
                    {% for doc in creditInfo.files %}
                        <li><a href="{{ asset(doc.path) }}" target="_blank">{{ doc.name }}</a></li>
                    {% endfor %}
                    </ul>
                </td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>{{ creditInfo.userId.email }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>